rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    match /patients/{patientId} {
      allow read, list: if isSignedIn();
      allow write: if isSignedIn();

      match /cases/{caseId} {
        allow read, list: if isSignedIn();
        allow write: if isSignedIn();

        match /sessions/{sessionId} {
          allow read, list: if isSignedIn();
          allow write: if isSignedIn();
        }
      }

      match /files/{fileId} {
        allow read, list: if isSignedIn();
        allow write: if isSignedIn();
      }
    }

    // Collection Group for Sessions & Files
    match /{path=**}/sessions/{sessionId} {
      allow read, list: if isSignedIn();
    }
    match /{path=**}/files/{fileId} {
      allow read, list: if isSignedIn();
    }
  }
}
